@model OrderSummaryViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Order Summary</title>
</head>
<body>
    <h1>Order Summary - @Model.OrderId</h1>
    <p>Name: @Model.name</p>
    @* <p>Phone: @Model.phone</p> *@
    @*Även bortkommenterad i OrderViewModels - OrderSummaryViewModel*@
    <p>Email: @Model.email</p>

    <h2>Products</h2>
    <ul>
        @foreach (var product in Model.products)
        {
            <li>
                <strong>@product.productName</strong> - @product.description
                <br>Materials: @String.Join(", ", product.materials)
                <br>Size: @product.size
                <br>Price: $@product.price
            </li>
        }
    </ul>
    <p>Total Price: $@Model.totalPrice</p>
</body>
</html>
