@using Microsoft.AspNetCore.Identity @* To use usermanager *@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hattmakaren</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    @* Following line to use usermanager *@
    @inject UserManager<User> UserManager 
    @inject HatContext hatContext

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hattmakaren</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @* <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="SummaryCart">SummaryCart</a>
                        </li> *@
                        @if (User.Identity.IsAuthenticated)
                        {
                            var user = await UserManager.FindByNameAsync(User.Identity.Name);
                            if (user != null)
                            {
                                if (await UserManager.IsInRoleAsync(user, "Admin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdminEnquiries">My Page</a>
                                    </li>
                                }
                                else if (await UserManager.IsInRoleAsync(user, "Customer"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="CustomerMessages">My CPage</a>
                                    </li>
                                }
                            }
                        }
                    
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        var user = await UserManager.FindByNameAsync(User.Identity.Name);
                        if (user != null)
                        {

                            @if (await UserManager.IsInRoleAsync(user, "Admin"))
                            {
                                <p class="navbar-text">Hello and welcome, @user.firstName @user.lastName</p>
                            }
                            else if (await UserManager.IsInRoleAsync(user, "Customer"))
                            {
                                <p class="navbar-text">Hello, @user.firstName @user.lastName</p>
                                <!--Knapp som visar och gömmer kundvagn-->
                                <button onclick="toggleCart()" type="button" class="btn btn-outline-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                                    </svg>
                                </button>
                            }

                        }
                        else
                        {
                            <p class="navbar-text">No user logged in</p>
                        }
                    }
                    <!--Skapar kundvagnen för en kund-->
                    <div class="shoppingCart" id="shoppingCart" hidden>
                        <ul>
                            @if (User.IsInRole("Customer"))
                            {
                                var customer = await UserManager.FindByNameAsync(User.Identity.Name);
                                var produtShoppingCart = hatContext.ProductShoppingCarts.ToList();

                                @foreach (var cartItem in produtShoppingCart)
                                {
                                    if (cartItem.shoppingCart.customerId == customer.Id)
                                    {
                                        <label>@cartItem.product.productName</label>
                                        <p>Price: @cartItem.product.price kr</p>
                                        <p>In cart: @cartItem.quantity</p>


                                    }

                                }
                            }
                                <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="SummaryCart">Go to summary</a>
                        </ul>
                    </div>
                </div>
            </div>

        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">

            @if (User.Identity.IsAuthenticated)
            {
                <form method="post" asp-area="" asp-controller="Account" asp-action="LogOut" class="logout-form">
                    <button type="submit" class="btn btn-link">Logga ut</button>
                </form>
            }
            else
            {
                <a asp-area="" asp-controller="Account" asp-action="LogIn" class="login-form">Logga in</a>
            }
        @* </div> *@
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        //Funktionen som visar och gömmer kundvagn
        function toggleCart() 
        { 
            var shoppingCart = document.getElementById("shoppingCart");
            if (shoppingCart.getAttribute("hidden") === "true") {
                shoppingCart.removeAttribute("hidden");
            }
            else 
            { 
                shoppingCart.setAttribute("hidden", "true");
            }
            
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
