@model IEnumerable<Material>;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">
            <link rel="icon" href="../../../../favicon.ico">
            <link href="~/css/Material.css" rel="stylesheet">

        </head>
        
    <td>
        <a class="btn btn-secondary mb-3" asp-action="AddNewMaterial" asp-controller="Material">Add new material</a>
        </td>

        <div class="list-wrapper">
            <table>
                <tr>
                    <th>Material</th>
                    <th>Supplier</th>
                    <th>Price</th>
                    <th>In stock</th>

                </tr>

                @foreach (var material in Model)
                {
                    <tr>
                        <td>@material.name</td>
                        <td>@material.supplier</td>
                        <td>@material.price</td>
                        <td>@material.quantity</td>

                        <td>
                            
                            <button type="button" onclick="orderForm(this.id)" id="@material.materialId">Order more</button>
                            <div id="@("amountForm" + material.materialId)" hidden>
                            @using (Html.BeginForm("IncreaseMaterial", "Material", FormMethod.Post))
                            {
                                <input type="number" name="materialId" id="materialId" value="@material.materialId" hidden/>
                                <input type="number" name="quantity" id="quantity" min="0" />
                                <input type="submit" value="Order" />
                            }
                                @*<input type="number" name="amount"  min="0"/>
                                <a class="btn btn-secondary mb-3"  asp-action="IncreaseMaterial" asp-route-id="@material.materialId">Order</a>*@
                            </div>
                        </td>



                        <td><button type="button" class="delete">Delete</button></td>
                    </tr>
                }
            </table>
            </div>
        
            <script type="text/javascript">
                function orderForm(buttonId) 
                { 
                    document.getElementById("amountForm" + buttonId).removeAttribute("hidden");
                    document.getElementById(buttonId).setAttribute("hidden", "true");
                }
            </script>

}
