@model List<Product>

<div class="text-center">
    <h1 class="display-4">Välkommen till Hattmakaren</h1>
</div>

<form asp-controller="ProductController" asp-action="AddProduct" method="post" enctype="multipart/form-data">

    <table class="table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Size(cm)</th>
                <th>Price(SEK)</th>
                <th>Image</th> <!-- Lägg till kolumn för bild -->
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in Model)
            {
                <tr>
                    <td>@prod.productName</td>
                    <td>@prod.description</td>
                    <td>@prod.size</td>
                    <td>@prod.price</td>
                    <td>
                        <!-- Visa bilden för produkten -->
                        <img src="@prod.ImagePath" alt="Product Image" style="max-width: 100px; max-height: 100px;" />
                    </td>
                    <td>
                        <form asp-controller="Product" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@prod.ProductId" />
                            <button type="submit">Radera</button>
                        </form>
                    </td>
                    <td>
                        <a asp-action="EditProduct" asp-controller="Product" asp-route-id="@prod.ProductId">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    <a href="Product/AddProduct">Lägg till produkt</a>
                </td>
            </tr>
        </tfoot>
    </table>
</form>
