<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hattmakaren</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="~/css/Index.css" rel="stylesheet">

</head>
<body>

    <div class="container product-container">
        <h1 class="text-center mb-5">Welcome to Otto and Judiths Hattmakaren</h1>
        @if (User.IsInRole("Admin"))
        {
            <div class="admin-panel">
                <a href="Product/AddProduct" class="btn btn-primary">Add a new product</a>
            </div>
        }
        @if (User.IsInRole("Customer"))
        {
            <tr>
                <a href="Customer/CustomerOrderForm">Place special hat order</a>
            </tr>
        }
    </div>


    <div class="row">
            @foreach (var prod in Model)
            {
                <div class="col-md-6">
                    <div class="product-card">
                        <img src="@prod.ImagePath" alt="Product Image" class="product-image">
                        <h2 class="product-name">@prod.productName</h2>
                        <p class="product-description">@prod.description</p>
                        <p class="product-details">Storlek: @prod.size cm</p>
                        <p class="product-price">@prod.price SEK</p>
                        @if(User.IsInRole("Customer"))
                        {
                            //Form för att lägga till en produkt i kundvagnen
                            using (Html.BeginForm("AddToCart", "Product", FormMethod.Post))
                            {
                                <input type="number" name="productId" id="productId" value="@prod.ProductId" hidden />
                                <button type="submit" class="btn btn-success">Add to Cart</button>

                            }
                        }
                        else if(User.IsInRole("Admin"))
                        {
                            <div class="text-center">
                                <form asp-controller="Product" asp-action="Delete" method="post" class="d-inline">
                                    <input type="hidden" name="id" value="@prod.ProductId" />
                                    <button type="submit" class="btn btn-danger mr-2">Radera</button>
                                </form>
                                <a href="Product/EditProduct/@prod.ProductId" class="btn btn-primary">Redigera</a>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>

    @if (User.IsInRole("Admin"))
    {
        <tr>
            <a href="Product/AddProduct">Lägg till produkt</a>
            <br />
        </tr>
    }

  

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

