@model IEnumerable<Grupp3Hattmakaren.Models.Order>


@* OrderList.cshtml*@
 <h1>Orders</h1>
<table class="table"> 
    <thead> 
        <tr> 
            <th>Order ID</th> 
            <th>Customer Name</th> 
            <th>Address</th> 
            <th>Is Payed</th> 
            <th>Waybill</th> 
            <th>Summary</th>
        </tr> 
    </thead> 
 
    <tbody> @foreach (var order in Model)
        {
            <tr> 
                <td>@order.OrderId</td> 
                <td>@order.Customer.firstName @order.Customer.lastName</td>
                <td>@order.Address.streetName</td>
                <td>@order.isPayed.ToString()</td>
                <td>
                    <!-- Print Shipping bill -->
                    <a asp-action="PrintShippingBill" asp-controller="ShippingBill" asp-route-id="@order.OrderId" class="btn btn-primary">Print Waybill</a>
                </td>
                <td>
                    <!-- Print Order Summary -->
                    <a asp-action="PrintOrderSummary" asp-controller="OrderSummary" asp-route-id="@order.OrderId" class="btn btn-primary">Print Order Summary</a>
                </td>
            </tr>
        } </tbody> </table>